/* flex: 1, takes up as much room as possible can. */
.feed {
  flex: 1;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* in place scroll */
#parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  overflow-x: hidden;
}
