/* navbar at the top */
.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

/* searchIcon and searchbar */
.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

/* It's a CSS child selector. P > SPAN means applying the style that follows to all SPAN tags that are immediate children of a P tag.*/
.header__left > img {
  height: 40px;
}

/* searchbar input */
.header__input > input {
  border: none;
  background-color: transparent;
  outline: none;
}

/* center header */
.header__center {
  display: flex;
  flex: 1;
  justify-content: center; /*horizontally */
}

/* icon color */
.header__option > .MuiSvgIcon-root {
  color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

/* active icon */
.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;
}

/* icon position */
.header__option {
  display: flex;
  align-items: center; /* vertically */
  padding: 0 30px; /*only two values given, top and bottom*/
  cursor: pointer;
}

/* icon background hover */
.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}

.header__right {
  display: flex;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 1rem;
  z-index: 10;
  box-shadow: 7px 5px 7px -7px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.option:hover {
  background-color: #e8e8e8;
}

.option > button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
